body{
	background-color: #ccd9c8;
	margin:0;
	font-family: 'Dosis', sans-serif;
	background-color:#9eb1a3;
	color:#678566;
}

h1,h2,h3{

	font-family: 'Fredoka One', sans-serif;
}

.nav{
	position: absolute;
	height: 30px;

}
.nav a{
	float:left;
	padding: 6px;
	margin: 6px;


}

.wrapper{
	padding: 60px 40px;
	width: 500px;

}

}
.demoimg{
	max-width: 600px;
}

#newTip{
	margin: 20px 0 0 0 ;
}


select{
	margin-bottom: 16px;
	display: block;
	

}
