body{
	background-color: #ccd9c8;
	margin:0;
	font-family: 'Dosis', sans-serif;
	background-color:#9eb1a3;
	color:#678566;
}

h1,h2,h3{

	font-family: 'Fredoka One', sans-serif;
}

.nav{
	position: absolute;
	height: 30px;

}
.nav a{
	float:left;
	padding: 6px;
	margin: 6px;

}

.wrapper{
	margin: auto;
	width: 600px;
	padding: 60px 0 0 0;

}

}
.demoimg{
	max-width: 600px;
}

